AI面试官-工作流1-生成问题-FIXED.yml
app:
  description: 快速生成面试问题列表，10-20秒完成，不生成标准答案
  icon: woman-pouting
  icon_background: '#FFE4B5'
  mode: workflow
  name: AI面试官-工作流1-生成问题
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: start-search_job-target
      source: start
      sourceHandle: source
      target: search_job
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: search_job-source-extract_skills-target
      source: search_job
      sourceHandle: source
      target: extract_skills
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: save_questions-source-end_output-target
      source: save_questions
      sourceHandle: source
      target: end_output
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: extract_skills-source-save_questions-target
      source: extract_skills
      sourceHandle: source
      target: save_questions
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: 例如:Python后端开发工程师
          label: 职位名称
          max_length: 200
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: job_title
      height: 87
      id: start
      position:
        x: -916.8867044895694
        y: 311.5843230276871
      positionAbsolute:
        x: -916.8867044895694
        y: 311.5843230276871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: 调用搜索引擎搜索与 job_title 相关的信息。
        is_team_authorization: false
        provider_id: langgenius/google/google
        provider_name: langgenius/google/google
        provider_type: builtin
        retry_config:
          max_retries: 10
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 职位信息搜索
        tool_configurations: {}
        tool_label: Google搜索
        tool_name: google_search
        tool_node_version: '2'
        tool_parameters:
          gl:
            type: mixed
            value: cn
          hl:
            type: mixed
            value: zh-cn
          location:
            type: mixed
            value: ''
          query:
            type: mixed
            value: '{{#start.job_title#}} 面试问题,岗位要求,技能职责,最新趋势'
        type: tool
      height: 124
      id: search_job
      position:
        x: -353.79118048638395
        y: 306.7952246470651
      positionAbsolute:
        x: -353.79118048638395
        y: 306.7952246470651
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - search_job
          - text
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: langgenius/openai/openai
        prompt_template:
        - id: prompt1
          role: system
          text: 你是一名经验丰富的招聘专家和专业的面试官，善于根据职位要求提取核心技能并设计开放性问题。
        - id: prompt2
          role: user
          text: "你现在是针对职位  {{#start.job_title#}} 的专业面试官。\n\n首先，请根据以下搜索结果，提炼出该职位最重要的5-8项核心技能和职责：\n\
            {{#search_job.text#}}\n\n在此基础上，请生成5个针对该职位，能够考察候选人实际能力和深度的面试问题。\n问题应是开放性的，能引导候选人深入阐述，避免简单的是非题。\n\
            \n请严格按照以下JSON格式输出：\n{\n  \"questions\": [\n    \"问题1\",\n    \"问题2\",\n\
            \    \"问题3\",\n    \"问题4\",\n    \"问题5\"\n  ]\n}\n\n重要：只输出JSON，不要有任何其他文字。\n"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              questions:
                description: 面试问题列表
                items:
                  type: string
                type: array
            required:
            - questions
            type: object
        structured_output_enabled: true
        title: 提取技能并生成问题
        type: llm
        vision:
          enabled: false
      height: 116
      id: extract_skills
      position:
        x: 248.07770966291753
        y: 282
      positionAbsolute:
        x: 248.07770966291753
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport urllib.request\nimport ssl\nimport time\n\ndef\
          \ main(job_title: str, questions: list) -> dict:\n       \"\"\"创建会话并保存所有问题到\
          \ Redis\"\"\"\n\n       api_url = \"https://phrenologic-preprandial-jesica.ngrok-free.dev/api/sessions/create\"\
          \n\n       try:\n           # 生成唯一的会话 ID\n           session_id = f\"session-{int(time.time()\
          \ * 1000)}\"\n\n           # 为每个问题生成 ID\n           questions_data = []\n\
          \           for i, question_text in enumerate(questions):\n            \
          \   question_id = f\"q-{int(time.time() * 1000)}-{i}\"\n               questions_data.append({\n\
          \                   \"id\": question_id,\n                   \"text\": question_text,\n\
          \                   \"answer\": \"\",\n                   \"hasAnswer\"\
          : False\n               })\n\n           # 准备会话数据（去掉 difficulty_level）\n\
          \           data = {\n               \"session_id\": session_id,\n     \
          \          \"job_title\": job_title,\n               \"questions\": questions_data\n\
          \           }\n\n           json_data = json.dumps(data, ensure_ascii=False).encode('utf-8')\n\
          \n           req = urllib.request.Request(\n               api_url,\n  \
          \             data=json_data,\n               headers={\n              \
          \     'Content-Type': 'application/json; charset=utf-8'\n              \
          \ },\n               method='POST'\n           )\n\n           ctx = ssl.create_default_context()\n\
          \           ctx.check_hostname = False\n           ctx.verify_mode = ssl.CERT_NONE\n\
          \n           with urllib.request.urlopen(req, context=ctx, timeout=30) as\
          \ response:\n               if response.getcode() >= 200 and response.getcode()\
          \ < 300:\n                   return {\n                       \"session_id\"\
          : session_id,\n                       \"questions_json\": json.dumps(questions_data, ensure_ascii=False),\n\
          \                       \"questions_count\": len(questions),\n\
          \                       \"job_title\": job_title,\n                    \
          \   \"save_status\": \"成功\",\n                       \"error_message\":\
          \ \"\"\n                   }\n               else:\n                   return\
          \ {\n                       \"session_id\": \"\",\n                       \"questions_json\": \"[]\",\n\
          \                       \"questions_count\": 0,\n                       \"job_title\": job_title,\n\
          \                       \"save_status\": \"失败\",\n                     \
          \  \"error_message\": f\"HTTP {response.getcode()}\"\n                 \
          \  }\n\n       except Exception as e:\n           return {\n           \
          \    \"session_id\": \"\",\n               \"questions_json\": \"[]\",\n\
          \               \"questions_count\": 0,\n   \
          \            \"job_title\": job_title,\n               \"save_status\":\
          \ \"失败\",\n               \"error_message\": f\"错误: {str(e)}\"\n       \
          \    }\n\n"
        code_language: python3
        desc: 保存问题列表到外部存储
        outputs:
          error_message:
            type: string
          job_title:
            type: string
          questions_count:
            type: number
          questions_json:
            type: string
          save_status:
            type: string
          session_id:
            type: string
        selected: false
        title: 保存问题列表
        type: code
        variables:
        - value_selector:
          - start
          - job_title
          value_type: string
          variable: job_title
        - value_selector:
          - extract_skills
          - structured_output
          - questions
          value_type: object
          variable: questions
      height: 79
      id: save_questions
      position:
        x: 1030.753012975168
        y: 348.4670754043508
      positionAbsolute:
        x: 1030.753012975168
        y: 348.4670754043508
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - save_questions
          - session_id
          value_type: string
          variable: session_id
        - value_selector:
          - save_questions
          - questions_json
          value_type: string
          variable: questions
        - value_selector:
          - save_questions
          - job_title
          value_type: string
          variable: job_title
        - value_selector:
          - save_questions
          - questions_count
          value_type: number
          variable: questions_count
        - value_selector:
          - save_questions
          - save_status
          value_type: string
          variable: save_status
        - value_selector:
          - save_questions
          - error_message
          value_type: string
          variable: error_message
        selected: false
        title: 输出结果
        type: end
      height: 165
      id: end_output
      position:
        x: 1815.8936966247438
        y: 322.518630430639
      positionAbsolute:
        x: 1815.8936966247438
        y: 322.518630430639
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -98.08012839332957
      y: 206.74465051140365
      zoom: 0.6076684451712433
  rag_pipeline_variables: []
