workflow2-FIXED-SIMPLE.yml
app:
  description: 为指定的面试问题生成标准答案，并将其保存至后端。
  icon: woman-pouting
  icon_background: '#E6F7FF'
  mode: workflow
  name: AI面试官-工作流2-生成答案
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
      id: start-load_info
      source: start
      sourceHandle: source
      target: load_question_info
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: tool
      id: load_info-search
      source: load_question_info
      sourceHandle: source
      target: search_standard_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: tool
        targetType: llm
      id: search-generate
      source: search_standard_answer
      sourceHandle: source
      target: generate_standard_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: generate-save
      source: generate_standard_answer
      sourceHandle: source
      target: save_standard_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: save-end
      source: save_standard_answer
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - hint: 从工作流1获取的会话ID
          label: 会话ID
          max_length: 128
          required: true
          type: text-input
          variable: session_id
        - hint: 需要生成答案的问题ID
          label: 问题ID
          max_length: 128
          required: true
          type: text-input
          variable: question_id
      height: 113
      id: start
      position:
        x: -381.575108702804
        y: 294.1156753724834
      positionAbsolute:
        x: -381.575108702804
        y: 294.1156753724834
      selected: false
      type: custom
      width: 241
    - data:
        code: "import json\nimport urllib.request\nimport ssl\n\ndef main(session_id:\
          \ str, question_id: str) -> dict:\n    \"\"\"\n    使用session_id和question_id从后端查询问题信息\n\
          \    \"\"\"\n\n    # 改为您的实际后端URL地址\n    api_url = f\"http://localhost:8080/api/sessions/{session_id}/questions/{question_id}\"\
          \n\n    try:\n        req = urllib.request.Request(\n            api_url,\n\
          \            headers={'Content-Type': 'application/json'},\n           \
          \ method='GET'\n        )\n\n        ctx = ssl.create_default_context()\n\
          \        ctx.check_hostname = False\n        ctx.verify_mode = ssl.CERT_NONE\n\
          \n        with urllib.request.urlopen(req, context=ctx, timeout=30) as response:\n\
          \            if response.getcode() == 200:\n                data = json.loads(response.read().decode('utf-8'))\n\
          \                return {\n                    \"job_title\": data.get(\"\
          job_title\", \"\"),\n                    \"question_text\": data.get(\"\
          text\", \"\") or data.get(\"question\", \"\"),\n                    \"error\"\
          : \"\"\n                }\n            else:\n                return {\n\
          \                    \"job_title\": \"\",\n                    \"question_text\"\
          : \"\",\n                    \"error\": f\"HTTP {response.getcode()}\"\n\
          \                }\n\n    except Exception as e:\n        return {\n   \
          \         \"job_title\": \"\",\n            \"question_text\": \"\",\n \
          \           \"error\": str(e)\n        }"
        code_language: python3
        desc: 调用后端 GET API 获取问题文本和职位名称
        outputs:
          error:
            type: string
          job_title:
            type: string
          question_text:
            type: string
        selected: false
        title: 加载问题信息
        type: code
        variables:
        - value_selector:
          - start
          - session_id
          variable: session_id
        - value_selector:
          - start
          - question_id
          variable: question_id
      height: 95
      id: load_question_info
      position:
        x: 79.81656616327467
        y: 300.9645820222222
      positionAbsolute:
        x: 79.81656616327467
        y: 300.9645820222222
      selected: true
      type: custom
      width: 241
    - data:
        desc: 根据问题文本和职位名称搜索相关资料
        is_team_authorization: false
        provider_id: langgenius/google/google
        provider_name: langgenius/google/google
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 搜索标准答案
        tool_configurations: {}
        tool_label: Google搜索
        tool_name: google_search
        tool_node_version: '2'
        tool_parameters:
          query:
            type: mixed
            value: '{{#load_question_info.job_title#}} {{#load_question_info.question_text#}}
              标准答案 面试'
        type: tool
      height: 108
      id: search_standard_answer
      position:
        x: 511.9299712197934
        y: 300.9645820222222
      positionAbsolute:
        x: 511.9299712197934
        y: 300.9645820222222
      selected: false
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - search_standard_answer
          - text
        desc: 结合搜索结果，生成高质量的标准答案
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: langgenius/openai/openai
        prompt_template:
        - id: e67c70f9-47c9-407a-82ca-13e3ecb9b731
          role: system
          text: '你是一位资深的 {{#load_question_info.job_title#}} 领域的技术专家和面试官。

            你的任务是为给定的面试问题，提供一份全面、结构化、有深度的标准答案。

            '
        - id: 9675bfa2-c0ef-47f3-8249-a72ff3a1c030
          role: user
          text: '**职位:** {{#load_question_info.job_title#}}

            **面试问题:** {{#load_question_info.question_text#}}


            **参考资料 (来自搜索):**

            {{#search_standard_answer.text#}}


            请为这个问题生成一份标准答案。答案应详细、准确，并涵盖核心概念、最佳实践和可能的追问点。请保持专业、权威的语气。为了清晰起见，请使用标题和项目符号来组织回答。

            '
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 生成标准答案
        type: llm
      height: 144
      id: generate_standard_answer
      position:
        x: 993.7411011265922
        y: 282
      positionAbsolute:
        x: 993.7411011265922
        y: 282
      selected: false
      type: custom
      width: 241
    - data:
        code: "import json\nimport urllib.request\nimport urllib.error\nimport ssl\n\
          \ndef main(session_id: str, question_id: str, standard_answer: str) -> dict:\n\
          \    \"\"\"\n    保存生成的标准答案到 Redis\n\n    Args:\n        session_id: 会话ID\n\
          \        question_id: 问题ID\n        standard_answer: 生成的标准答案\n\n    Returns:\n\
          \        {\n            \"status\": \"成功\" 或 \"失败\",\n            \"error_message\"\
          : \"错误信息（成功时为空）\"\n        }\n    \"\"\"\n\n    # 通过 ngrok 隧道调用后端 API\n\
          \    api_url = f\"https://phrenologic-preprandial-jesica.ngrok-free.dev/api/sessions/save\"\
          \n\n    try:\n        # 准备请求数据\n        data = {\n            \"session_id\"\
          : session_id,\n            \"question_id\": question_id,\n            \"\
          answer\": standard_answer\n        }\n\n        json_data = json.dumps(data,\
          \ ensure_ascii=False).encode('utf-8')\n\n        # 创建请求\n        req = urllib.request.Request(\n\
          \            api_url,\n            data=json_data,\n            headers={\n\
          \                'Content-Type': 'application/json; charset=utf-8'\n   \
          \         },\n            method='POST'\n        )\n\n        # 创建不验证 SSL\
          \ 的上下文（ngrok 使用 HTTPS）\n        ctx = ssl.create_default_context()\n   \
          \     ctx.check_hostname = False\n        ctx.verify_mode = ssl.CERT_NONE\n\
          \n        # 发送请求\n        with urllib.request.urlopen(req, context=ctx,\
          \ timeout=30) as response:\n            response_code = response.getcode()\n\
          \            response_body = response.read().decode('utf-8')\n\n       \
          \     if 200 <= response_code < 300:\n                return {\n       \
          \             \"status\": \"成功\",\n                    \"error_message\"\
          : \"\"\n                }\n            else:\n                return {\n\
          \                    \"status\": \"失败\",\n                    \"error_message\"\
          : f\"HTTP {response_code}: {response_body}\"\n                }\n\n    except\
          \ urllib.error.HTTPError as e:\n        error_msg = f\"HTTP错误 {e.code}:\
          \ {e.reason}\"\n        try:\n            error_body = e.read().decode('utf-8')\n\
          \            error_msg += f\" - {error_body}\"\n        except:\n      \
          \      pass\n\n        return {\n            \"status\": \"失败\",\n     \
          \       \"error_message\": error_msg\n        }\n\n    except Exception\
          \ as e:\n        return {\n            \"status\": \"失败\",\n           \
          \ \"error_message\": f\"错误: {str(e)}\"\n        }"
        code_language: python3
        desc: 调用后端 PUT API 保存标准答案
        outputs:
          error_message:
            type: string
          status:
            type: string
        selected: false
        title: 保存标准答案
        type: code
        variables:
        - value_selector:
          - start
          - session_id
          variable: session_id
        - value_selector:
          - start
          - question_id
          variable: question_id
        - value_selector:
          - generate_standard_answer
          - text
          variable: standard_answer
      height: 79
      id: save_standard_answer
      position:
        x: 1468.322660632937
        y: 289.7217176784032
      positionAbsolute:
        x: 1468.322660632937
        y: 289.7217176784032
      selected: false
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - start
          - session_id
          variable: session_id
        - value_selector:
          - start
          - question_id
          variable: question_id
        - value_selector:
          - generate_standard_answer
          - text
          variable: generated_answer
        - value_selector:
          - save_standard_answer
          - status
          variable: save_status
        selected: false
        title: 结束
        type: end
      height: 165
      id: end
      position:
        x: 2024.2695156143404
        y: 294.1156753724834
      positionAbsolute:
        x: 2024.2695156143404
        y: 294.1156753724834
      selected: false
      type: custom
      width: 241
    viewport:
      x: -1232.9120235211326
      y: 52.475854021370736
      zoom: 0.8895650603158805
  rag_pipeline_variables: []
